*, *:after, *:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.todo{
    margin: 60px 0;
}

.todos {
    list-style: none;
}

.todo-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-header__title{
    margin-bottom: 20px;
}

.todo-header__input{
    outline: none;
    padding: 20px;
    border: 1px solid #6F29EA;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(111, 41, 234, 0.2);

}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.checked{
    font-style: italic;
    text-decoration: line-through;
}

.todo-item:not(:last-child){
    margin-bottom: 20px;
}

.todo-content{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}